* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html {
  font-size: 20px;
}

:root {
  --bgPrimary: #08090b;
  --bgSecondary: #151819;
  --accent: #ed145b;
  --textColor: #91a3ad;
}

body {
  display: flex;
  align-self: center;
  flex-direction: column;
}

.calculadora {
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: var(--accent);
  border-radius: 25px;
  padding: 10px;
}

.display {
  display: flex;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 10px;
  align-items: center;
  justify-content: end;
}

.container-buttons {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 0.3rem;
}

.calculadora button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
}

.calculadora button:hover {
  box-shadow: 0px 0px 10px #0009;
}

.calculadora button:active {
  transform: scale(0.9);
}
